.header__container {
  position: fixed;
  top: 0;
  width: 80%;
  min-width: var(--main-width);
  height: 60%;
  background-image: url('/src/assets/background.png');
  background-repeat: no-repeat;
  z-index: 1;
  clip-path: ellipse(100% 100% at top);
  background-position: center;
  color: white;
  left: 50%;
  transform: translateX(-50%);
}

.header__container::after {
  content: "";
  position: absolute;
  background: linear-gradient(transparent, rgb(26, 66, 82));
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}